@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

:root {
  background-color: hsl(0, 100%, 74%);
  background-image: url('/images/bg-intro-desktop.png');
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  padding: 2rem;
}

.grid-view-two a {
  display: block;
  background-color: hsl(248, 32%, 49%);
  padding: 1rem;
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 1rem;
}

form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.disclaimer p {
  color: hsl(246, 25%, 77%);
  font-size: small;
  text-align: center;
  margin-bottom: 2rem;
}

.link {
  color: hsl(0, 100%, 74%);
}

input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  height: 4rem;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  padding-left: 2rem;
  font-weight: 600;
  color: #333;
}

button {
  display: block;
  width: 100%;
  margin: 1rem 0;
  height: 4rem;
  border-radius: 5px;
  border: none;
  background-color: hsl(154, 59%, 51%);
  font-size: 1.2rem;
}

input:focus {
  outline: 1px solid hsl(249, 10%, 26%);
}

.input-icons {
  padding: 0;
}

.input-icons .message {
  visibility: hidden;
  color: hsl(0, 100%, 74%);
  text-align: right;
  position: relative;
  left: 19rem;
  margin-bottom: 0.5rem;
}

.input-icons i {
  position: relative;
  color: hsl(0, 100%, 74%);
  left: 25rem;
  top: -3rem;
  visibility: hidden;
}

.success input {
  border-color: hsl(154, 59%, 51%);
}

.error input {
  border-color: hsl(0, 100%, 74%);
}

.error .fa-exclamation-circle {
  visibility: visible;
}

.error .message {
  visibility: visible;
}

/* MEDIA QUERIES */
@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  .rows {
    display: grid;
    grid-template-columns: 1fr;
  }
  .column {
    width: 100%;
  }

  .input-icons .message {
    /* visibility: hidden; */
    color: hsl(0, 100%, 74%);
    text-align: right;
    position: relative;
    left: 3rem;
    margin-bottom: 0.5rem;
  }

  .input-icons i {
    position: relative;
    color: hsl(0, 100%, 74%);
    left: 15rem;
    top: -3rem;
    visibility: hidden;
  }
}

@media (min-width: 376px) and (max-width: 560px) {
  .container {
    max-width: 500px;
  }
  .rows {
    display: grid;
    grid-template-columns: 1fr;
  }

  .column {
    width: 100%;
  }

  .input-icons .message {
    /* visibility: hidden; */
    color: hsl(0, 100%, 74%);
    text-align: right;
    position: relative;
    left: 15rem;
    margin-bottom: 0.5rem;
  }

  .input-icons i {
    position: relative;
    color: hsl(0, 100%, 74%);
    left: 25rem;
    top: -3rem;
    visibility: hidden;
  }
}

@media (min-width: 461px) and (max-width: 900px) {
  .container {
    max-width: 900px;
  }
  .rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .input-icons .message {
    /* visibility: hidden; */
    color: hsl(0, 100%, 74%);
    text-align: right;
    position: relative;
    left: 9rem;
    margin-bottom: 0.5rem;
  }

  .input-icons i {
    position: relative;
    color: hsl(0, 100%, 74%);
    left: 20rem;
    top: -3rem;
    visibility: hidden;
  }
}

@media (min-width: 901px) and (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .input-icons .message {
    /* visibility: hidden; */
    color: hsl(0, 100%, 74%);
    position: relative;
    left: 25rem;
    margin-bottom: 0.5rem;
  }

  .input-icons i {
    position: relative;
    color: hsl(0, 100%, 74%);
    left: 37rem;
    top: -3rem;
    visibility: hidden;
  }
}
